.galeria-container {
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }
  
  .imagen {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .imagen img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .imagen img:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el cursor sobre la imagen */
  }
  
  .imagen p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  